.header-img-1 {
    background-image: url('/assets/img/header-grad-1.jpg');
}
.header-img-2 {
    background-image: url('/assets/img/header-grad-2.jpg');
}
.header-img-3 {
    background-image: url('/assets/img/header-grad-3.jpg');
}
.header-img-4 {
    background-image: url('/assets/img/header-grad-4.jpg');
}


.log-tile-img-1 {
    background-image: url('/assets/img/tile-log-grad-1.png');
}
.log-tile-img-2 {
    background-image: url('/assets/img/tile-log-grad-2.png');
}
.log-tile-img-3 {
    background-image: url('/assets/img/tile-log-grad-3.png');
}
.log-tile-img-4 {
    background-image: url('/assets/img/tile-log-grad-4.png');
}


.tile-img-1 {
    background-image: url('/assets/img/tile-log-grad-1.png');
}
.tile-img-2 {
    background-image: url('/assets/img/tile-log-grad-2.png');
}
.tile-img-3 {
    background-image: url('/assets/img/tile-log-grad-3.png');
}
.tile-img-4 {
    background-image: url('/assets/img/tile-log-grad-4.png');
}