.d-none {
    display: none;
}

.error {
    color: #E9A598;
}

.mid-grey {
    color: $mid-grey;
}

.opacity-0 {
    opacity: 0;
}

.pipe {
    margin-left: 7px;
}

.overflow-hidden {
    overflow: hidden;
}