@import "../settings/settings_main.scss";

.button {
    border: none;
    border-radius: 100px;
    padding: 5px 20px;
    font-size: 13px;
    transition: box-shadow 400ms ease;
}
.grey-btn {
    border: none;
    background-color: $light-grey;
    border-radius: 100px;
    padding: 5px 20px;
    font-size: 13px;
}

.post-log-btn {
    width: 125px;
}

.button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, .2);
}

.logout-btn {
    border: none;
    background: none;
    padding-top: 2px;
}

.close {
    position: absolute;
    width: 14px;
    right: 13px;
    top: 13px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 300ms ease;
}

.close:hover {
    position: absolute;
    width: 14px;
    right: 13px;
    top: 13px;
    opacity: 1;
    cursor: pointer;
}

.close-btn {
    background: none;
    border: none;
}

.delete-user-btn {
    background: none;
    border: none;
    font-size: 14px;
}

.mid-grey-link {
    color: $mid-grey;
    transition: color 300ms ease;
}

.mid-grey-link:hover {
    color: $dark-grey;
}

.edit-form {
    display: inline;
}