<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>w.space</title>
  <link rel='stylesheet' href='/css/layouts/layouts_main.css'>
  <link rel="shortcut icon" href="/assets/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body">

  <%= yield %>

  <script src="/js/jquery.js"></script>
  <script src="/js/log-submission.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
