
<main class="login-page">
    <section class="login">
        <div class="login__logo-wrapper">
            <img class="login-logo" src="/assets/img/logo-col.gif" alt="">
        </div>
        <div class="login__inputs-wrapper--signup">
            <h2>Sign up!</h2>
            <form action="/create_user" method="post">
                <input type="text" name="name" placeholder="full name">
                <input type="text" name="email" placeholder="email address">
                <input type="text" name="location" placeholder="your location">
                <input type="password" name="password" placeholder="create password">
                <div class="login__inputs-footer">
                    <a href="/login">Already have an account? Login!</a>
                    <button class="button">Sign up</button>
                </div>
            </form>

        </div>
    </section>
    <section class="login-aside-wrapper">
        <div>
            <img src="/assets/img/login-grad-1.jpg" alt="">
        </div>
    </section>
</main>