<h2>Welcome!</h2>
<form action="/create_user" method="post">
    <input type="text" name="name" placeholder="full name">
    <input type="text" name="email" placeholder="email address">
    <input type="text" name="location" placeholder="your location">
    <input type="password" name="password" placeholder="create password">
    <button>Sign up</button>
</form>