<main class="success-wrapper">

    <section class="success-cta">
        <div class="success-cta__wrapper">
            <img src="/assets/img/logo-white.svg" alt="">
            <h4>You’ve successfully signed up to w.space!</h4>
            <h1>Click below to sign in & tell the world your opinion on the weather.</h1>
            <a href="/login"><button class="button">Log in & get started</button></a>
        </div>
    </section>

</main>