<main class="success-wrapper">

    <section class="success-cta">
        <div class="success-cta__wrapper">
            <img src="/assets/img/logo-white.svg" alt="">
            <h1>You’ve successfully signed up to w.space!<br> Click below to to tell the world your opinion on the weather.</h1>
            <a href="/login_user"><button class="button">Log in & get started</button></a>
        </div>
    </section>

</main>