.success-wrapper {

    .success-cta {

        background-image: url('/assets/img/success-grad-1.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;

        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: #fff;
            margin-top: 0.714em;
            margin-bottom: 1.271em;
        }
        
        &__wrapper {
            width: 55.000em;

            img {
                width: 11.429em;
            }
        }

    }

}