footer {
    
    div {

        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2.143em;

        img {
            width: 20%;
        }
    }
}