.index .header {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 140vw;
  height: 24.286em; }
  .index .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.071em; }
    .index .header__nav-img-wrapper .logo-static {
      width: 7.857em;
      opacity: 1; }
    .index .header__nav-img-wrapper .hovered-logo-wrapper {
      position: absolute;
      top: 18px;
      left: 21px; }
      .index .header__nav-img-wrapper .hovered-logo-wrapper .logo-hover {
        width: 7.53em; }
    .index .header__nav-items a {
      color: #fff;
      font-size: 1.143em;
      margin-left: 0.714em;
      transition: opacity 300ms ease; }
    .index .header__nav-items a:hover {
      opacity: 0.6; }
    .index .header__nav-items img {
      width: 16px;
      position: relative;
      top: 2px; }
  .index .header__cta {
    margin-left: 10%;
    width: 32.857em; }
    .index .header__cta h1 {
      color: #fff; }

.logout-form {
  display: inline; }
